 <div class="container">
 <div id="chat-container">
    <div class="text-center mt-4">
    <h1>Chat Mongo</h1>
</div>
    <h4 id="nombreusuario">Usuario</h4>

    <div id="chat-messages">
      <div class="message sender">
         <p id="chat"> </p>
      </div>
     
    </div>
    <form id="formulario" class="mt-3">
           <div class="input-group">
      <input type="text" class="form-control" name="mensaje" id="mensaje" placeholder="Escribe tu mensaje...">
  <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
   
  </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>